.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  
    .left-column {
      background-color: #ECD1FF;
    }
  
    .right-column {
      background-color: #F4E6FF;
    }
  }